/* ***** commons ***** */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 70%;
    height: 70vh;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: flex;
}


/* ***** big image ***** */

.big-image {
    width: 80%;
}

.big-image .item {
    height: 100%;
    position: relative;
}

.big-image .item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.big-image .item .img-desc {
    color: white;
    text-align: right;

    position: absolute;
    bottom: 40px;
    right: 20px;
    left: 20px;
}

/* ***** image list ***** */

.image-list {
    width: 20%;
    height: 100%;
}


/* +++++ debug +++++ */

.debug .container {
    background-color: blue;
}

.debug .big-image {
    background-color: red;
}

.debug .image-list {
    background-color: green;
}